#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid #CCC;
    text-align: center;
}
.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
div{
    padding: 2rem;
}